table{
    width: 70%;
    height: 70%;
}
#studentdata{
    text-align: center;
    margin-top: 5%;
}
#myInput{
    margin-top: 1%;
    margin-left: 71%;
    margin-bottom: 5px;
}
.save {
    display: none;
   }

.modal-dialog{
    max-width: 1200px !important;
}